body {
	background-color: #ecf0f1;
}

.headerClass {
	background-color: #004466;
	height: 170px;
	border-bottom: 2px solid red;
}

.nameClass {
	font-size: 40px;
	font-family: Impact;
	color: #ecf0f1;
	margin-top: 55px;
	margin-left: 20px;
}

.navClass {
	margin-left: 25px;
}

.navTxtClass {
	color: white;
	text-decoration: none;
	margin-left: 8px;
}

.sectionName {
	font-family: tahoma;
	font-size: 50px;
	margin-top: 100px;
	color: #004466;

}

.greetingclass1 {
	font-size: 20px;
	font-family: tahoma;
	color:  #fc3434 ;
}

.greetingClass2 {
	font-size: 20px;
	font-family: tahoma;
	color: #004466;
	margin-top: -10px;
	text-decoration: none;
}

.imgClass1 {
	height: 360px;
	width: 350px;
	margin: auto;
	display: block;
	padding: -100px;
}

.imgClass2 {
	height: 360px;
	width: 350px;
	margin: auto;
}


.footerClass {
	height: 300px;
	background-color: #091b23;
	margin-top: 200px;
	border-top: solid 2px red;
}

.tTest {
	color: white;
	
}

.leftFooterP {
	width: 15%;
	height: 50%;
	display: inline-block;
	/*border: solid 2px black;*/
	margin: auto;


}

.rightFooterP {
	width: 15%;
	height: 50%;
	/*border: solid 2px black;*/
	display: inline-block;
	margin: auto;

}

.contact {
	border: 2px solid black;
	display: inline-block;
	margin: auto;
}

